<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <a href="/" class="me-3">
            <!--App Logo-->
            <img src="/img/TipTop_icon(1).png" height="40" />
        </a>
        <button class="nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarControl" aria-expaned="false" aria-label="Toggle Navigation">
             <span class="navbar-toggler-icon"></span>
        </button>

        <!--Menu Links-->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="tip-calculator">
                        <span class="oi oi-calculator" aria-hidden="true"></span> Tip Calculator
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>