<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <!--copyright and logo-->
            <div class="col order-last order-md-first text-md-start">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built By</span><span><img src="/img/MikeWilliams(2)-Wht.png" height="30" /></span>
                    </div>
                    <div class="col-12 small">
                        &copy; 2025 Mike Williams. All rights reserved.
                    </div>
                </div>
            </div>

            <!--App logo-->
            <div class="col d-flex align-items-center justify-content-center">
                <img src="/img/TipTop_icon(1).png" height="50" />
            </div>
            <div class="col d-flex flex-column justify-content-end text-md-end">
                <div class="row">
                    <div class="col-12">
                        @* <a href="#"><i class="bi bi-youtube"></i></a> *@
                        <a href="https://x.com/mikey32905"><i class="bi bi-twitter"></i></a>
                        <a href="https://github.com/mikey32905"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/mike-williams-0511835/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-12 small">
                    <a href="#">Portfolio</a>
                    &bull;
                    <a href="#">Blog</a>
                    &bull;
                    <a href="#">Bug Tracker</a>
                </div>

            </div>

        </div>
    </div>
</div>

@code {

}
