.pageStyle {
    background: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-family: var( --mw-title-font);
    font-size: 3rem;
    color: var(--mw-title-color);
    line-height: 3rem;
}

.subTitle{
    font-size: 1rem;
    font-family: var(--mw-body-font);
}

.devicons{
    font-size: 2rem;
}

@media (min-width: 992px){
    .title {
        font-family: var(--mw-title-font);
        font-size: 3.5rem;
        color: var(--mw-title-color);
        line-height: 3rem;
    }

    .subTitle {
        font-size: 1.5rem;
        font-family: var(--mw-body-font);
    }

    .devicons {
        font-size: 2.5rem;
    }
}
